/* ==============================
    Responsive Styles
============================== */


@media (max-width: 1172px) {
    .nav-right {
        margin-right: 3rem;
    }

    .nav-links {
        padding: 1rem;
    }
}

@media (max-width: 992px) {
    .nav-container {
        background-color: var(--secondary-text-color);
    }

    .menu-toggle {
        border: none;
        display: block;
        cursor: pointer;
        font-size: 2rem;
        background: none;
        color: var(--primary-text-color);
    }

    .nav-right {
        left: 0;
        top: 60px;
        z-index: 9;
        width: 100%;
        display: none;
        /* hidden by default */
        padding: 1rem 0;
        position: absolute;
        flex-direction: column;
        background: var(--secondary-text-color);
    }


    .nav-right.show {
        display: flex;
    }

    .nav-right.show .nav-items {
        margin: 0;
        padding: 0;
        width: 100%;
        list-style: none;
        align-items: start;
        flex-direction: column;
        display: flex !important;
    }

    .nav-right.show .nav-links {
        width: 100%;
        display: block;
        text-align: left;
        padding: 5px 25px;
        font-size: 1.2rem;
        color: var(--primary-text-color);
    }

    .nav-right.show .nav-links:hover {
        text-decoration: none;
    }

    .nav-left {
        margin-left: 2rem;
        padding: 0;
        font-size: 7vh;
    }

    .home-container {
        padding: 1rem 0;
        max-width: 1200px;
    }

    .home-page {
        padding: 1rem 2rem;
    }

    .home-title {
        font-size: 9vh;
    }

    .role-container {
        margin: 0;
    }

    .role-text {
        margin: 0;
        font-size: 6vh;
    }

    .home-headline p {
        margin-top: 0;
        max-width: 800px;
        font-size: 1.1rem;
    }

    .home-btn {
        gap: 2rem;
    }

    .project-page {
        align-items: center;
        flex-direction: column;
    }

    .project-img {
        width: 100%;
        height: auto;
        min-height: 400px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
    }

    .project-detail {
        width: 100%;
        padding: 1.2rem;
        margin-top: 1rem;
        border-radius: 1rem;
    }
}

/*! For tablets and smaller (≤ 768px) */
@media (max-width: 768px) {
    .nav-right {
        right: 0;
        margin: 0;
        /* remove desktop margin */
        top: 60px;
        width: 100%;
        display: none;
        padding: 1rem 0;
        position: absolute;
        flex-direction: column;
        align-items: flex-start;
        background: var(--secondary-text-color);
    }

    .nav-right.show {
        display: flex;
        /* show when toggled */
    }

    .nav-items {
        margin: 0;
        padding: 0;
        width: 100%;
        flex-direction: column;
    }

    .nav-links {
        margin: 0;
        padding: 0;
        width: 100%;
        color: var(--primary-text-color);
    }


    .menu-toggle {
        display: block;
        /* Show toggle on small screen */
    }

    .home-container {
        max-width: 90%;
        padding: 2rem 0rem;
    }

    .home-page {
        padding: 3rem 0 0 2rem;
    }


    .home-headline {
        flex: 1;
        margin: 0;
        padding-right: 2rem;
    }

    .home-headline p {
        width: 100%;
        font-size: 1.2rem;
        /* prevent overflow */
    }

    .home-title {
        font-size: 8vh;
    }

    .role-text {
        font-size: 5vh;
        margin-bottom: 0;
    }

    .nav-container {
        flex-wrap: wrap;
        padding: 0.8rem 1rem;
    }

    .nav-left a {
        font-size: 6vh;
    }

    .home-btn {
        gap: 1rem;
        flex-direction: column;
    }

    .home-btn .btn {
        width: 100%;
        justify-content: center;
    }

    .about-page {
        align-items: center;
        flex-direction: column;
    }

    .about-content,
    .profile-image {
        width: 100%;
        text-align: center;
    }

    .skill-item {
        width: 100%;
    }

    .contact-wrapper {
        flex-direction: column;
    }

    .contact-info,
    .contact-form {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .skill-item {
        width: 100%;
    }

    .skills-list,
    .project-page {
        align-items: center;
        flex-direction: column;
    }

    .footer-container {
        text-align: center;
        flex-direction: column;
    }

    .footer-right {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 576px) {
    .project-img {
        height: 260px;
    }
}

/*! For mobile phones (≤ 480px) */
@media (max-width: 480px) {
    .home-title {
        font-size: 5.5vh;
    }

    .role-container {
        margin: 0 0;
    }

    .role-text {
        font-size: 4vh;
        margin-bottom: 0;
    }

    .nav-left {
        padding-left: 0;
        margin-left: .1rem;
    }

    .nav-left a {
        font-size: 2.4rem;
    }

    .nav-links {
        margin: 0;
        padding: 0;
        font-size: 2.2vh;
    }

    .home-page {
        padding: 0 2rem;
    }

    .home-social-icon {
        font-size: 1.5rem;
    }

    .home-headline p {
        margin: 0;
        font-size: 2.2vh;
    }

    .section-heading {
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    .about-content h3 {
        font-size: 1.5rem;
    }

    .about-content p {
        font-size: 0.95rem;
    }

    .profile-image {
        width: 200px;
        height: 200px;
    }

    .skill-achieve {
        font-size: 0.85rem;
        padding: 0.5rem 0.8rem;
    }

    .project-img {
        height: 250px;
    }

    .project-detail {
        padding: 0.8rem;
    }

    .project-title {
        font-size: 1rem;
    }

    .project-subtitle {
        font-size: 1.5vh;
    }

    .project-btns a {
        font-size: 0.95rem;
        padding: 0.5rem 0.8rem;
    }

    .education-data {
        padding: 1.5rem;
    }

    .education-name {
        font-size: 1.3rem;
    }

    .education-platform,
    .education-duration {
        font-size: 1rem;
    }
}

@media (max-width: 310px) {
    .nav-left a {
        font-size: 2rem;
    }
}